---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const notes = (await getCollection('notes')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const title = 'Notes';
const description = 'Short posts from low-carbon.digital';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header />
		<main>
			<section class="wrapper">
				<ul>
					{
						notes.map((note) => (
							<li>
								<FormattedDate date={note.data.pubDate} />
								<a href={`/notes/${note.slug}/`}>{note.data.title}</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
